@if (article) {
  <div class="card">
    <h2>{{ article.title }}</h2>
    <p>By: {{ article.author }}</p>
    <img [src]="article.imageUrl" alt="Article Image" />
    <p
      [ngClass]="{ 'popular-article': article.likes > 100 }"
      [ngStyle]="{ color: article.likes > 150 ? 'green' : 'black' }">
      Likes: {{ article.likes }}
    </p>
    <button class="btn-read-more" (click)="onLike()">J'aime</button>
    <a [routerLink]="['/article', article.id]" class="btn-read-more">Lire l'article</a>
  </div>
}
